<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Security Debt
    <% if (products?.length === 1) { %>
    - <%= products[0].title %>
    <% } %>
  </title>
  <style>
    /* Global */
    html, body {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    main {
      margin: 32px;
    }
    /* Title */
    h1 {
      font-weight: 500;
    }
    .logo {
      max-width: 200px;
      max-height: 80px;
      float: right;
    }
    h2 {
      display: flex;
      align-items: center;
      margin-top: -10px;
      font-weight: 500;
      color: <%= config.primaryColor %>;
    }
    h2 .tag {
      margin: 3px 6px 0 0;
      padding: 1px 6px 2px 6px;
      background-color: #999;
      border-radius: 6px;
      font-size: medium;
      color: white;
    }
    h2 span:not(.tag) {
      margin-right: 16px;
    }
    /* Table */
    .table-container {
      max-width: 100%;
      overflow-x: auto;
    }
    table {
      border-collapse: collapse;
    }
    tbody tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.025);
    }
    tbody tr:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    td, th {
      padding: .3em .6em;
      border: 1px solid #dbdbdb;
      border-width: 1px;
    }
    thead th {
      border-width: 1px 1px 2px 1px;
      border-bottom-color: <%= config.primaryColor %>;
      background-color: #f0f0f0;
    }
    tbody td {
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    /* Criticities */
    tbody td.criticity {
      position: relative;
      text-transform: capitalize;
    }
    tbody td.criticity::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
    }
    .c0::before { background-color: <%= config.criticityColors[0] %> }
    .c1::before { background-color: <%= config.criticityColors[1] %> }
    .c2::before { background-color: <%= config.criticityColors[2] %> }
    .c3::before { background-color: <%= config.criticityColors[3] %> }
    .c4::before { background-color: <%= config.criticityColors[4] %> }
  </style>
</head>

<body>
  <main>
    <% if (config.logo) { %>
    <img class="logo" src="<%= config.logo %>" alt="Company logo">
    <% } %>
    <h1><%= config.title %></h1>
    <% for (let i = 0; i < products.length && i < engagements.length; i++) { %>
    <h2>
      <span><%= products[i].title %></span>
      <% if (engagements[i].version) { %>
      <span class="tag" title="Application version"><%= engagements[i].version %></span>
      <% } %>
      <% if (engagements[i].updated) { %>
      <span class="tag" title="Last security debt update"><%= engagements[i].updated.substring(0, 10) %></span>
      <% } %>
    </h2>
    <% } %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <% for (const header of headers) { %>
            <th><%= header %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% for (const finding of findings) { %>
          <tr>
            <% for (const field of finding) { %>
            <% if (field.type == "criticity") { %>
            <td class="criticity c<%= field.index %>"><%= field.value %></td>
            <% } else if (field.type == "boolean") { %>
            <td><%= field.value ? "Y" : "N" %></td>
            <% } else { %>
            <td <% if (field.value?.length > 20) { %> title="<%= field.value %>" <% } %>>
            <%= field.value %>
            </td>
            <% } %>
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>
